<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a routerLink="/home" class="menu-margin">Home</a>
  <a routerLink="/parent-to-child-via-input" class="menu-margin">Parent to child via @Input</a>
  <a routerLink="/child-to-parent-via-output-emitter" class="menu-margin">Communicate Via Emitters & @Output (Child to parent)</a>
  <a routerLink="/child-to-parent-via-view-child" class="menu-margin">Communicate Via @ViewChild</a>
  <a routerLink="/communicate-via-data-service" class="menu-margin">Communicate Via data service </a>
</nav>

<router-outlet></router-outlet>